# Ignore Eclipse project and build files
.project
.classpath
.metadata
bin/
.settings/

# Ignore IntelliJ project and build files
*.iml
.idea/
/out/

# Ignore Java-specific files
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Ignore Maven-specific files
target/
build/

node/
node_modules/
dist/
package-lock.json

src/main/resources

# Ignore generated Asciidoc files
src/main/asciidoc/**/listoffigures.adoc
src/main/asciidoc/**/listoflistings.adoc
src/main/asciidoc/**/listoftables.adoc
src/main/asciidoc/**/glossary.adoc
src/main/asciidoc/**/bibliography.adoc
