@font-face {
	font-family: 'iconfont';
	src:url('fonts/iconfont.eot?n6if22');
	src:url('fonts/iconfont.eot?#iefixn6if22') format('embedded-opentype'),
		url('fonts/iconfont.woff?n6if22') format('woff'),
		url('fonts/iconfont.ttf?n6if22') format('truetype'),
		url('fonts/iconfont.svg?n6if22#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
	content: "\e600";
}
.icon-browse-folder:before {
	content: "\e601";
}
.icon-appointment_reminders:before {
	content: "\e602";
}
.icon-checked_user:before {
	content: "\e603";
}
.icon-left_round:before {
	content: "\e604";
}
.icon-repeat:before {
	content: "\e605";
}
.icon-delete:before {
	content: "\e606";
}
.icon-pickup:before {
	content: "\e607";
}
.icon-print:before {
	content: "\e608";
}
.icon-return:before {
	content: "\e609";
}
.icon-unlock:before {
	content: "\e60a";
}
.icon-trash:before {
	content: "\e60b";
}
.icon-view-details:before {
	content: "\e60c";
}
.icon-watch:before {
	content: "\e60d";
}
.icon-purchase-order:before {
	content: "\e60e";
}
.icon-edit:before {
	content: "\e60f";
}
.icon-erase:before {
	content: "\e610";
}
.icon-attach:before {
	content: "\e611";
}
.icon-archive:before {
	content: "\e612";
}
.icon-network:before {
	content: "\e613";
}
.icon-folder:before {
	content: "\e614";
}
.icon-buy:before {
	content: "\e615";
}
.icon-appointment-reminders:before {
	content: "\e616";
}
.icon-checked-user:before {
	content: "\e617";
}
.icon-external-link:before {
	content: "\e618";
}
.icon-left-round:before {
	content: "\e619";
}
.icon-add-file:before {
	content: "\e61a";
}
.icon-ball-point-pen:before {
	content: "\e61b";
}
.icon-calendar:before {
	content: "\e61c";
}
.icon-cancel:before {
	content: "\e61d";
}
.icon-char:before {
	content: "\e61e";
}
.icon-checked-checkbox:before {
	content: "\e61f";
}
.icon-checkmark:before {
	content: "\e620";
}
.icon-chevron-down:before {
	content: "\e621";
}
.icon-chevron-left:before {
	content: "\e622";
}
.icon-chevron-right:before {
	content: "\e623";
}
.icon-chevron-up:before {
	content: "\e624";
}
.icon-cursor:before {
	content: "\e625";
}
.icon-dnd:before {
	content: "\e626";
}
.icon-download:before {
	content: "\e627";
}
.icon-engineering:before {
	content: "\e628";
}
.icon-error:before {
	content: "\e629";
}
.icon-external_link:before {
	content: "\e62a";
}
.icon-fast-forward:before {
	content: "\e62b";
}
.icon-filtered-filter:before {
	content: "\e62c";
}
.icon-image-file:before {
	content: "\e62d";
}
.icon-info:before {
	content: "\e62e";
}
.icon-list-2:before {
	content: "\e62f";
}
.icon-login:before {
	content: "\e630";
}
.icon-logout:before {
	content: "\e631";
}
.icon-low-importance:before {
	content: "\e632";
}
.icon-manager:before {
	content: "\e633";
}
.icon-map-marker:before {
	content: "\e634";
}
.icon-message-outline:before {
	content: "\e635";
}
.icon-minus:before {
	content: "\e636";
}
.icon-more:before {
	content: "\e637";
}
.icon-new-post:before {
	content: "\e638";
}
.icon-next:before {
	content: "\e639";
}
.icon-ok:before {
	content: "\e63a";
}
.icon-outline:before {
	content: "\e63b";
}
.icon-pin:before {
	content: "\e63c";
}
.icon-placeholder:before {
	content: "\e63d";
}
.icon-plus:before {
	content: "\e63e";
}
.icon-previous:before {
	content: "\e63f";
}
.icon-redo:before {
	content: "\e640";
}
.icon-refresh:before {
	content: "\e641";
}
.icon-reply:before {
	content: "\e642";
}
.icon-rewind:before {
	content: "\e643";
}
.icon-save:before {
	content: "\e644";
}
.icon-scanner:before {
	content: "\e645";
}
.icon-search:before {
	content: "\e646";
}
.icon-send-file:before {
	content: "\e647";
}
.icon-show-property:before {
	content: "\e648";
}
.icon-star:before {
	content: "\e649";
}
.icon-upload:before {
	content: "\e64a";
}
.icon-user:before {
	content: "\e64b";
}
.icon-visible:before {
	content: "\e64c";
}
