/* This file has been created by ERGOSIGN GmbH - All rights reserved - http://www.ergosign.de
// DO NOT ALTER OR REMOVE    THIS COPYRIGHT NOTICE OR THIS FILE HEADER.
// 
// This file and the code contained in it are subject to the agreed contractual terms and conditions,
// in particular with regard to resale and publication.
*/

/*  this is exclusively loaded for IE8 - by a conditional comment in the <head> */

.radio input[type="radio"] + span:before,
.radio-inline input[type="radio"] + span:before{
	background: transparent; 
	border: 0;
}

select.form-control {
    padding-top: 2px;
}

.picker {
    border:1px solid lightgray !important;
}

.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 4px;
    text-align: right;
}

.form-horizontal .form-group .checkbox {
	
	// Beim IE8 wird der Abstand nicht benötigt, da die Checkboxen nativ dargestellt werden
	top: 0px;
	padding-top: 0px;

}

.has-feedback .checkbox .form-control {
    padding-right: 0px;    
}

.table.table-selectable .checkbox {
	margin: 0;
}

.table.table-selectable .checkbox input{
	display: block;
}

/* Zeige die richtige Checkbox, nicht die darüber gerenderte png, die JavaScript braucht. */
.checkbox input[type="checkbox"] {
	position: relative;
	z-index:100;
}
.checkbox input[type="checkbox"] + span {
	z-index:1;
}

/* Anti-Fix "Label soll nicht unter Checkbox rutschen, wenn sie disabled ist".  Braucht man im IE8 nicht. */
.checkbox input + span {
  padding-left: 0px;
}

.checkbox label input[disabled] {
  display:inline;
}

.table thead tr th.sortable.sort-down:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #45484d;
    bottom: 3px;
    content: " ";
    display: inline-block;
    left: 10px;
    position: relative;
}

.table thead tr th.sortable.sort-up:after {
    border-bottom: 5px solid #45484d;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: 3px;
    content: " ";
    display: inline-block;
    left: 10px;
    position: relative;
}

