
/* isy:formCheckbox */
/* überschreibt das Standard-Aussehen von deaktivierten Checkboxen. Ist notwendig, da diese sonst doppelt angezeigt werden. Einmal das größere
 Checkbox-Bild aus dem CSS und einmal darüber die original input-checkbox.*/
.checkbox>label>.form-control[disabled] {
    opacity: 0;
}

.formcheckboxvieraugen {
    padding: 0px;
    margin: 0px;
    border: 0 none;
    position: absolute;
}

.formcheckboxvieraugenabstand {
    margin-left: 18px
}